.team-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}

.team-grid__item {
  display: flex;
}
