.product-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
